body {
  background-color: #222;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
  font-size: 16px; }

#container {
  width: 600px;
  height: 450px;
  margin: 50px auto; }
